.about-header{
  height: 1000px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-header{
display: flex;
justify-content: center;
align-content: center;
align-items: center;
text-align: center;
color: white;
font-size: 25px;

}