.content-products{
  display: flex;
  flex-wrap: wrap;
  img{
    height: 250px;
    width: auto;
    border-bottom: 5px solid #e1e1e1;
  }
  article{
    border: 1px solid #e1e1e1;
    margin: 10px;
    flex: 0 1 23%;
    max-width: 23%
  }
  h2{
    font-size: 18px;
  }
  a{
    text-decoration: none;
  }
}

#primary{
  text-align: center;
}

.shop-links{
  border-bottom: 1px dashed #e1e1e1;
  margin-bottom: 40px;
  padding-bottom: 50px;
}