#masthead{
  display: flex;
  position: absolute;
}

#header-logo{
  height: 50px;
  width: 50px;
}

#site-navigation{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.menu-nav-menu-container{
    a{
      margin: 10px;
    }
}

.search-form{
  fieldset{
    border: none;
  }
}